

#conteiner
{
	width: 1000px;
	color: red;
	margin-left: auto;
	margin-right: auto;
}

#logo
{

}
#list
{
	float: left;
	width: 200px;
}

#person
{
	float: left;
}
#tree
{
	
	width: 800px;
	
}
#info
{
	float: left;
	width: 800px;
	background-color: lightblue;
}

#clear
{
	clear: both;
}

#stopka
{
	
	background-color: black;
}
